body {
  background-image: url('https://www.hdcarwallpapers.com/walls/honda_civic_sedan_2019_4k_2-HD.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}